.login-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 83.30vh;
    background-color: #3b4149;
}

.login-heading {
    font-size: 35px;
    margin-bottom: 20px;
    color: #232f3e;
    /* Gray color */
    font-weight: normal;
    /* Not bold */
}


.login-form {
    background-color: #ffffff;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.input-field {
    width: 95%;
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.login-button {
    margin-top: 1rem;
    width: 95%;
    padding: 15px;
    /* Increased padding for a larger button */
    background-color: #febd69;
    color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s;
}

.login-button:hover {
    background-color: #008170;
}

.login-links {
    margin-top: 20px;
}

.login-links a {
    text-decoration: none;
    margin: 0 10px;
    color: #888888;
    font-weight: bold;
    font-size: 18px;
    /* Increased font size */
    padding: 5px 10px;
    /* Added padding for a larger link */
}

.login-links a:hover {
    text-decoration: underline;
}

/*This is Header Part*/
.header-top-strip {
    border-bottom: 1px solid var(--color-3b4149);
    background-color: var(--color-131921);
}